html {
  font-size: 62.5%;
  font-family: sans-serif;
}

*::before,
*,
*::after,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-inline: 1.6rem;
  width: 100vw;
  height: 100vh;
}

form {
  max-width: 36rem;
  padding: 3.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

h3 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

input {
  width: 100%;
  height: 3.6rem;
  padding-inline: 0.8rem;
}

input + input {
  margin-top: 0.8rem;
}

button {
  margin-top: 0.8rem;
  padding: 0.8rem;
}
